body {
    text-align: center;
    font-family: 'Merriweather', serif;
    margin: 0;
}

hr {
    border-style: dotted;
    border-width: 8px 0 0 0;
    width: 5%;
    margin: 40px auto 40px auto;
    border-color: #296E85;
}

.no1-top_images {
    background-color: #87CEEB;
    margin-bottom: 30px;
}

.mountain {
    margin: auto auto 0px auto;
    position: relative;
    top: 4px;
}

.top_container {
    padding: 20px;
}

.name {
    /* font-size: 3em; */
    font-size: 2.8125em;
    font-family: 'Abril Fatface', cursive;
    /* 1em=32px*/
}

.image_container {
    padding: 10px 10px 0px 10px;
}

.hello {
    width: 60%;
    margin: auto;
}

.kh_pic {
    border-radius: 50%;
    height: auto;
    width: 30%;
}

.p1 {
    width: 40%;
    margin: auto;
}

/* .div_skills {
    width: 40%;
    margin: auto;
    line-height: 2;
} */
.below_my_skill {
    /* margin: 20px auto 20px auto; */
    width: 40%;
    margin: auto;
}

.skills_png {
    width: 30%;
    float: left;
    margin-right: 30px;
}

.p2 {
    width: auto;
    /* margin: auto; */
    text-align: left;
    /* clear: left; */
}

.webdev_png {
    width: 30%;
    float: right;
    margin-left: 30px;
}

.below_webd {
    width: 40%;
    margin: 50px auto 50px auto;

}

.p3 {
    width: auto;
    /* margin: auto; */
    text-align: left;
    /* clear: left; */
}

.contact-me {
    width: 30%;
    margin: 80px auto auto auto;
}

.top_h1 {
    color: #1E5162;
    font-family: 'Merriweather', serif;
    /* line-height: 1; */
}

.coder {
    color: #296E85;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 1.25rem;
    text-align: center;

}

.top_cloud {
    position: relative;
    left: 250px;
    padding-top: 50px;
}

.down_cloud {
    position: absolute;
    left: 300px;
}

.mail_png {
    /* height: auto; */
    width: 14%;
    /* float: right; */
    /* position: absolute; */
    /* right: 60px; */
}

.contact {
    text-align: center;
}

.p4 {
    width: auto;
    /* margin: auto; */
    text-align: center;
    margin-bottom: 50px;
}

h3 {
    color: #11999E;
    text-align: left;
}

h2 {
    font-weight: normal;
}

.bottom_container {
    margin-top: 50px;
    background-color: #66BFBF;
    color: #11999E;
    line-height: 3;
    word-spacing: 1rem;
    padding-top: 20px;
}

.khh {
    margin: 0px;
    color: #EAF6F6;
    scale: 70%;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Georgia;
    color: #EAF6F6;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}

/* a {
    color: #11999E;
} */
.footer-link {
    font-family: 'Anton', sans-serif;
    text-decoration: none;
    color: #11999E;
}
a:hover {
    color: #EAF6F6;
}