html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: black;
    overflow-x: hidden;
    /* Its used to get rid of the horizontal scrooling!!!! */
}

p {
    text-align: justify;
}


/* #####################################################################  Header portion for laptops ##################################################################### */

#header {
    width: 100%;
    /* height: 7vh; */
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header .fa-solid {
    display: none;
    /* Its for mobile screen sizes */
}

#namedLogo {
    cursor: default;
}

.logoFirstLetter {
    color: red;
    font-size: xx-large;
    font-weight: bolder;
}

.navItems {
    display: flex;
    justify-content: flex-end;
    width: 70%;
}

.navItems a {
    margin: 10px 20px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    position: relative;
}

.navItems a::after {
    content: '';
    background: red;
    width: 0%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.2s;
}

.navItems a:hover::after {
    width: 100%;
}


/* Code for slide in from left and right on page load */

/* .introLeftPortion,
.introRightPortion {
    transform: translateX(100%);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.introLeftPortion {
    transform: translateX(-200%);
}

.introRightPortion {
    transform: translateX(200%);
}

.introLeftPortion.visible,
.introRightPortion.visible {
    transform: translateX(0);
} */

/* ######################### Yeah, the late response of JS didn'g get solved #########################*/

/* NOTE: Animation for shaking:- */

.shake {
    animation: shake 1.6s ease-in-out 1;
    /* Shake for 1.6s seconds (2 times) */
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
}
/* ######################### */

#intro {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.myName {
    font-family: 'Montserrat', sans-serif;
    color: red;
}

.aboutMeWriteup {
    width: 70%;
    font-size: larger;
    font-weight: bolder;
    letter-spacing: 2px;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
}

#GreetingsForMobiles {
    display: none;
}

.posterImgForMobiles {
    display: none;
}

.aboutMeWriteup h1 {
    margin: 0;
}

.myPoster {
    height: 18%;
    width: 18%;
    object-fit: fill;
    /* position: relative;
    bottom: 30px; */
}

/* #####################################################################  About me portion for laptops ##################################################################### */


#aboutMeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0 40px;
    /* transform: scale(1.2); */
}

#aboutMeContainerDpAndWriteup {
    width: 50%;
}

#wrapperDivWrappingDpAndWriteup {
    display: flex;
    justify-content: center;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px 5px rgba(255, 0, 0, 0.8);
    margin: 0 15px;
    /* width: 60%; */
}

#aboutMeContainerWriteup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* padding-bottom: 15px; */
    padding-right: 10px;

}


/* For the horizontal Rule (hr) */

hr {
    margin: 1.5em 0;
    text-align: center;
    border: none;
}

hr:before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #eee;
    margin: 0 0.4em;
}

hr:after {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #eee;
    margin: 0 0.4em;
}

/* Hr code over */

.myDp {
    object-fit: cover;
    height: 300px;
    /* margin: 20px; */
    margin-bottom: 30px;
    border-radius: 30px;
    /* position: relative;
    bottom: 40px; */
    transform: scale(0.9);

}

.aboutMeDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}


.aboutMeDetails h1 {
    font-family: 'Libre Baskerville', serif;
}

.aboutMeDetails h3 {
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}

.aboutMeDetails p {
    font-weight: 100;
    opacity: 0.7;
    margin: 0;
}

.GDSCpost {
    color: #C04848;
    font-weight: bolder;
}

.aboutMeTabs {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 10px;
}

.aboutMeTabs p {
    margin-right: 50px;
    font-size: large;
    cursor: pointer;
    position: relative;
}

#experience {
    color: red;
}

.aboutMeTabs p::after {
    content: '';
    background: red;
    width: 0%;
    height: 5px;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.2s;
}

.aboutMeTabs p:hover::after {
    width: 100%;
}

.activeTab {
    display: block;
}

.inactiveTab {
    display: none;
}

.aboutMeInfoTopic {
    color: grey;
    margin-top: 10px;
}

.aboutMeExperience p {
    font-size: large;
    
}

.aboutMeInfoTopic p {
    font-size: x-large;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    
}



/* #####################################################################  Portfolio portion for laptops ##################################################################### */
#myWork {
    font-family: 'Libre Baskerville', serif;
    display: flex;
    justify-content: center;
    /* margin-top: 200px; */
}

.myPortfolioContainerLaptops {
    margin: 40px 0 40px;
    width: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 3fr));
}

.myPortfolioContainerMobiles {
    display: none;
}

.myPortfolioContainerLaptops img {
    object-fit: cover;
    width: 300px;
    height: 350px;
    padding: 20px;
    border-radius: 40px;
    transition: transform 0.5s;
}

.work:hover img {
    transform: translateY(-6px);
}

.work {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#techStacks {
    margin-top: 10px;
}

#tailwindIcon {
    position: relative;
    top: 4px;
}

.layer {
    width: 300px;
    height: 371px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: smaller;
    font-weight: lighter;
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.6), maroon);
    border-radius: 21px;
    opacity: 0;
    transition: opacity 0.5s;
    cursor: default;
}

.work:hover .layer {
    opacity: 1;
}

.layer p {
    width: 220px;
    margin: 0;
    opacity: 0.8;
}

.layer h3 {
    font-size: larger;
    font-weight: bolder;
    margin-bottom: 10px;
}

#extLink {
    height: 50px;
    width: 50px;
    margin-top: 10px;
    background-size: auto;
    cursor: pointer;
}

#dhun {
    filter: drop-shadow(3px 3px 10px red);
    position: relative;
    bottom: 10px;
}

.centering {
    width: 100%;
    display: flex;
    justify-content: center;
}
.centering a {
    text-decoration: none;
}

.showMoreButton {
    background-color: black;
    border-style: solid;
    border-color: maroon;
    color: whitesmoke;
    height: fit-content;
    width: fit-content;
    font-family: 'Libre Baskerville', serif;
    font-size: small;
    cursor: pointer;
}

.invisible {
    display: none;
    opacity: 0;
    transition: opacity 0.5s;
}

.visible {
    display: inline-flex;
    /* When I kept it to "none" ; the layer appeared at lower level than supposed! */
    opacity: 1;
}

/* #####################################################################  Blog portion for laptops ##################################################################### */

/* ^^^^^^^^^^^^^^^^^^^^^^^^^ Code for UIverse css for flipping card ^^^^^^^^^^^^^^^^^^^^^^^^^*/

/* From Uiverse.io by joe-watson-sbf */
.flipCardContainer {
    width: 100vw;
    display: flex;
    justify-content: center;
}
.flip-card {
    background-color: transparent;
    width: 500px;
    height: 270px;
    perspective: 1000px;
    font-family: sans-serif;
}

.title {
    font-size: 1.5em;
    font-weight: 900;
    display: flex;
    justify-content: center;
    margin: 0;
}

.subTitle {
    display: flex;
    justify-content: center;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid coral;
    border-radius: 1rem;
}

.flip-card-front {
    background: linear-gradient(120deg, bisque 60%, rgb(255, 231, 222) 88%,
            rgb(255, 211, 195) 40%, rgba(255, 127, 80, 0.603) 48%);
    color: coral;
}

.flip-card-back {
    background: linear-gradient(120deg, rgb(255, 174, 145) 30%, coral 88%,
            bisque 40%, rgb(255, 185, 160) 78%);
    color: white;
    transform: rotateY(180deg);
}

.flip-card-back .subTitle {
    padding: 10px;
    text-align: center;
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^ Code for UIverse css for flipping card ^^^^^^^^^^^^^^^^^^^^^^^^^*/

.e-card {
    display: none;
}

/* I'm using different cards. */
/* #blogTopic {
    display: none;
    align-items: center;
    margin-top: 30px;
}

.blogHeading {
    height: 220px;
    width: 110px;
    border-top-right-radius: 110px;
    border-bottom-right-radius: 110px;
    background: rgba(245, 5, 5, 0.4);
    display: flex;
    align-items: center;
    font-family: 'Libre Baskerville', serif;
    flex-shrink: 0;
}

.blogIntro {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 1px;
    line-height: 1.4;
    background: rgba(253, 0, 0, 0.7);
    border-radius: 10px;
    position: relative;
    left: 190px;
    padding: 10px;
    text-align: center;

} */

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ Slider styling  for laptops ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

#sliderContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-weight: bolder;
    font-size: x-large;
}

.fa-backward:hover {
    font-size: x-large;
    transform: translateX(-4px);
}
.fa-forward:hover {
    font-size: x-large;
    transform: translateX(4px);
}

#customSlider {
    width: 20%;
    margin-left: 20px;
    margin-right: 20px;
    appearance: none;
    height: 5px;
    border-radius: 5px;
    background-color: black;
    /* position: relative;
    top: 7px; */
    /* transition: value 2s; */
}

#sliderButtonsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    width: 60%;
    background: linear-gradient(to right, #eb3349, #f45c43);
    border-radius: 20px;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1), -5px -5px 5px black;
}

.sliderButtons {
    background-color: linear-gradient(to right, #1f1c2c, #928dab);
    opacity: 0.6;
    border-radius: 8px;
    font-weight: bolder;
    font-size: medium;
}


/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ Slider styling ends ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

#blogMainContainer {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paraDiv {
    background: linear-gradient(to right, #ed213a, #93291e);
    border-radius: 20px;
    width: 70%;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

#lastUpdated {
    opacity: 0.6;
    position: relative;
    top: -10px;
    left: 10px;
}

.contentInPara {
    padding: 20px;
    margin: 10px;
    letter-spacing: 2px;
    line-height: 1.3;
    text-align: center;
}

.contentInPara a {
    color: aquamarine;
}

#ulOfFrontendContent {
    /* padding-bottom: 20px; */
    margin: 0;
    position: relative;
    left: 20px;
}

/* ######################################################### Contact portion for laptops ######################################################### */
#contactMeMainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.contact-me {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mail_png {
    width: 15%;
}


.btn-grad {
    background-image: linear-gradient(to right, #C04848 0%, #480048 51%, #C04848 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    text-decoration: none;
}

.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.bottom_container {
    padding: 10px;
    margin-top: 30px;
}

.footer-link {
    padding: 10px;
}

.fa-brands:hover {
    transform: scale(1.5);
}

.khh {
    margin-bottom: 0;
    cursor: grab;
}


/* ######################################################### css for mobiles ######################################################### ######################################################### ######################################################### */

@media only screen and (max-width: 600px) {

    html {
        position: relative;
        left: 8px;
    }

    /* ######################################## Header section for mobiles ########################################*/
    .show {
        display: block !important;
    }
    body {
        overflow-x: hidden;
    }

    #header {
        margin-top: 10px;
        width: 100vw;
        display: flex;
        justify-content: space-between;
    }

    #namedLogo {
        position: relative;
        left: 20px;
        font-size: xx-large;
    }

    .navItems {
        background-color: maroon;
        border-radius: 10px;
        /* margin: 4px;
        position: relative;
        right: 15px;
        width: 60%; */
        position: absolute;
        /* left: 0; */
        right: 0;
        /* bottom: 100%; */
        width: 120px;
        display: flex;
        flex-direction: column;
        z-index: 9;
        opacity: 0.8;
        transition: all 0.3s;

    }

    .navItems a {
        display: none;
        margin: 10px 4px;
        font-size: smaller;
    }

    .fa-xmark {
        position: fixed;
        top: 15px;
        right: 20px;
        z-index: 10;

    }

    .fa-xmark:hover {
        cursor: pointer;
    }

    .fa-bars {
        position: relative;
        right: 20px;
    }

    .fa-bars:hover {
        transform: scale(1.3);
    }

    /* ######################################## My Intro Section for mobiles ######################################## */
    .myPoster {
        display: none;
    }
    #GreetingsForLaptop {
        display: none;
    }

    #GreetingsForMobiles {
        display: block;
        width: 100%;
        /* display: flex; */
        /* flex-wrap: wrap; */
        /* justify-content: center; */
        text-align: center;
        padding: 20px;

    }
    /* aboutMeWriteup is for the top section */
    .aboutMeWriteup { 
        font-size: smaller;
        display: flex;
        justify-content: center;
    }

    .aboutMeTabs {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    .aboutMeTabs p {
        margin: auto;
    }
    
    .aboutMeWriteup h1 {
        width: 65%;
    }

    .aboutMeWriteup p {
        display: none;
    }

    /* 
    .posterImgForMobiles {
        display: inline;
        max-height: 95%;
        max-width: 100%;
        position: relative;
        bottom: 30px;
        border-radius: 40px;
    } */

    /* ######################################## About Me Section for mobiles ######################################## */
    #aboutMeContainer {
        display: inline;
        position: relative;
        left: 5px;
    }
    #aboutMeContainerDpAndWriteup {
        width: 100%;
    }
    #wrapperDivWrappingDpAndWriteup {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 25px;
        padding-bottom: 25px;
        margin-left: 10px;
        margin-right: 10px;
        position: relative;
        right: 5px;
    }
    #aboutMeContainerWriteup {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
        transform: scale(1.2);
    }
    .myDp {
        /* position: relative;
        left: 100px; */
        display: block;
        /* Remove any default inline spacing */
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        top: 20px;
    }

    .aboutMeDetails {
        padding-left: 5px;
        padding-right: 5px;
        width: 95%;
    }

    .aboutMeDetails h1 {
        width: 100%;
        text-align: center;
    }

    /* ######################################## Portfolio Section for mobiles ######################################## */

    .myPortfolioContainerLaptops {
        /* display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 3fr)); */
        display: none;
    }

    .myPortfolioContainerMobiles {
        display: flex;
        flex-direction: column;
    }

    .workMobiles {
        display: flex;
        padding: 10px;
        justify-content: center;
        /* background-color: linear-gradient(to right, #8e0e00, #1f1c18); */
        border-radius: 40px;
        margin: 10px;
    }

    .numberingWorkMobiles {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        background-color: #C04848;
        padding: 5px;
        border-radius: 10px;
    }

    /* #techStacks {
        display: flex;
        flex-direction: column;
    } */

    .htmlCssJsLogos {
        padding: 4px;
        display: flex;
        justify-content: center;
    }
    .htmlCssJsLogos * {
        margin: 3px;
    }
    .JsReactLogos {
        padding: 4px;
        display: flex;
        justify-content: center;
    }
    .JsReactLogos * {
        margin: 3px;
    }
    /* #techStacks .fa-square-js {
        padding-left: 4px;
    } */

    .tailwindCSSpngForMobiles {
        height: 35px !important;
        width: 35px !important;
        padding: 0 !important;
        position: relative;
        /* top: 22px; */
        bottom: 18px;
    }

    .myPortfolioContainerMobilesParaDiv {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .myPortfolioContainerMobilesParaDiv p {
        text-align: center;
        font-size: smaller;
        font-style: italic;
    }

    .myPortfolioContainerMobilesParaDiv h3 {
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .myPortfolioContainerMobilesImgLink {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .myPortfolioContainerMobiles img {
        object-fit: cover;
            width: 150px;
            height: 170px;
            padding: 20px;
            border-radius: 40px;
    }

    .centering {
        display: none;
    }



    /* ######################################## Blog Section for mobiles ######################################## */
    
    .blogMainContainer {
        width: 100vw;
    }

    /* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ CSS for the UIverse card ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

        /* From Uiverse.io by MikeAndrewDesigner */
        .e-card {
            display: block;
            margin: 20px auto;
            background: transparent;
            box-shadow: 0px 8px 28px -9px rgba(0, 0, 0, 0.45);
            position: relative;
            width: 340px;
            height: 250px;
            border-radius: 16px;
            overflow: hidden;
        }
    
        .wave {
            position: absolute;
            width: 540px;
            height: 700px;
            opacity: 0.6;
            left: 0;
            top: 0;
            margin-left: -50%;
            margin-top: -70%;
            background: linear-gradient(744deg, #af40ff, #5b42f3 60%, #00ddeb);
        }
    
        .icon {
            width: 3em;
            margin-top: -1em;
            padding-bottom: 1em;
        }
    
        .infotop {
            text-align: center;
            font-size: 20px;
            position: absolute;
            top: 5.6em;
            left: 0;
            right: 0;
            color: rgb(255, 255, 255);
            font-weight: 600;
        }
    
        .name {
            font-size: 14px;
            font-weight: 100;
            position: relative;
            top: 1em;
            text-transform: lowercase;
        }
    
        .wave:nth-child(2),
        .wave:nth-child(3) {
            top: 210px;
        }
    
        .playing .wave {
            border-radius: 40%;
            animation: wave 3000ms infinite linear;
        }
    
        .wave {
            border-radius: 40%;
            animation: wave 55s infinite linear;
        }
    
        .playing .wave:nth-child(2) {
            animation-duration: 4000ms;
        }
    
        .wave:nth-child(2) {
            animation-duration: 50s;
        }
    
        .playing .wave:nth-child(3) {
            animation-duration: 5000ms;
        }
    
        .wave:nth-child(3) {
            animation-duration: 45s;
        }
    
        @keyframes wave {
            0% {
                transform: rotate(0deg);
            }
    
            100% {
                transform: rotate(360deg);
            }
        }
    

    /* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ CSS for the UIverse card ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
    

    .flipCardContainer {
        display: none;
    }
    
    /* I'm using different cards. */
    /* #blogTopic {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .blogHeading {
        height: 110px;
        width: 220px;
        border-top-left-radius: 110px;
        border-bottom-left-radius: 0;
        border-top-right-radius: 110px;
        border-bottom-right-radius: 0;
        background: rgba(245, 5, 5, 0.4);
        display: flex;
        align-items: center;
        font-family: 'Libre Baskerville', serif;
        margin-bottom: 10px;
    } */

    /* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ Slider styling for mobiles ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

    #sliderButtonsContainer {
        width: 90%;
    }
    #customSlider {
        width: 80%;
    }

    .blogHeading h1 {
        position: relative;
        left: 54px;
    }

    .blogIntro {
        position: static;
        width: 70%;
        margin-left: 10px;
    }

    .paraDiv {
        width: 95%;
    }
    #lastUpdated {
        display: flex;
        justify-content: center;
        position: relative;
        left: 0;
    }

    /* ######################################## Contact Section for mobiles ######################################## */


    .requestToFollow {
        text-align: center;
    }

}